page-register {
    ion-title{
        color: #fff;
    }
    ion-navbar {
        border: none;
        height: 20px;
    }
    .body
    {
        
        margin: 0;
        padding:0;
        background-attachment: fixed;
        overflow-X:hidden;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: #000333;
        height: 100%;
    }
    
    .background{
        height: 100%;
        width: 100%;
        position: absolute;   
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
    }
    
    .background img{
        width: auto;
        height: 100%;
        overflow: hidden;
        position: absolute;
        opacity: 0.1;
    }
    
    .headerSign{
        width: 100%;
        height: 260px;
        margin-top: 16px;
        position: relative;    
        z-index: 2;
    }
    .headerSign .logo{
        width: 100%;
        padding-top:16px;
        text-align: center;
    }
    .headerSign .logo img{
        width: 100px;
        height:100px;
    }
    
    .headerSign .Textlogo{
        width: 100%;
        text-align: center;
        font-style: normal;
        color:#fff;
        margin-top: 1px;
        font-family:cursive;
    }
    
    .headerSign .Textlogo span b{
        width: 100%;
        text-align: center;
        font-style: normal;
        color:#0ed3f6;
        margin-top: 6px;
        font-style:normal;
    }
    
    .headerSign .TextSlogan{
        width: 60%;
        color: #fff;
        text-align: center;
        margin: auto;
        margin-top: 32px;
        font-family:cursive;
    
    }

    .formConnect{
        margin-top:12px;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    
    .formConnect .input{
        text-align: center;
        width: 82%;
        margin:auto;
    }
    
    .formConnect .input input{
        text-align: left;
        height: 28px;
        padding: 2px;
        padding-left:45px;
        width: 80%;
        border: none;
        border-radius: 5px;
        background: #ffffff33;
        opacity: 0.8;
        font-size: 14px;
    
        color:#fff;
    
    }
    
    .croche{
        width:64%;
        margin:auto;
        color:#fff;
        font-size:15px;
        font-family:serif;
        font-style:italic;
    }
    
    .regitForget{
    
        width:74%;
        margin:auto;
        margin-top:32px;
        color:#fff;
        font-size:14px;
     
    }
    
    .btn,.btnFace{
        width:74%;
        height:auto;
        margin:auto;
        margin-top:32px;
        color:#fff;
        font-size:14px;
        
        text-align:center;
    }
    .btn input{
        width:70%;
        height:40px;
        border:1px;
        border-radius:30px;
        text-align:center;
        background:#06bebd;
        color:#fff;
    }
    .btnFace input{
        width:70%;
        height:40px;
        border:1px;
        border-radius:30px;
        text-align:center;
        background:#10cef4;
        color:#fff;
    }
    
    .spaceLeft{ 
        margin-left:40px;
        color:#f3f2f5e6;
    }
    .spaceRight{ 
        margin-left:20px;
        margin-right:40px;
        color:#f3f2f5d6;
    }
    .footerPage
    {
        width:98%;
        height:40px;
        border:1px;
        position:absolute;
        bottom:0;
        padding:2%;
        font-size:14px;
        text-align:center;
        background:#000100;
        color:#fff;
        padding-bottom:46px;
    }
    .footerPage .text
    {
        width:70%;
        margin:auto;
    }
    
    .footerPage .text colorLogo
    {     
        display:none;
    }
    
    .colorLogo{
        color:#0ed3f6;
    }
    .palm{
        position:absolute;
        text-align: left;
        height: 28px;
        padding: 2px;
        margin-left:6px;
        border: none;
        opacity: 0.8;
    }
    .palm img{
        margin-top:2px;
        width: 20px;
        height: 20px;
    }
    
    label{
        color:#fff;
        margin-left:-30%;
        position:relative;
        
        font-size:14px;
    }
    
    .smallText{
        font-size:17px;
    }
    .bigText{
        font-size: 2em;
    }
    .formConnect .message{
    
        width:60%;
        margin:auto;
        color:#fff;
        text-align:center;
        font-size:16px;
    }
    .bar{
        background:linear-gradient(to right,#0ed3f6,#7a29a6);
        width: 100%;
        height: 3px;
    
        color: #fff;
     
    }
    .barContenu{
        width: 100%;
        height: 80px;
    }
    
    .barContenu .imgBack{
        width: 28px;
        height: 28px;
        position: relative;
        left: 16px;   
        top: 8px;
    }
    .barContenu .textHeader{
        position: relative;
        top: 32px;
        color: #fff;
        font-size: 1.6em;

        margin-left: 40px;
    
        font-style: bold;
    }
    .barContenu .imgBack img{
        width: 28px;
        height: 28px;
    }
    ::placeholder{
        color: #fff;
        opacity: 1;
        
    }
    
}
