page-register-step-two {
    ion-title{
        color: #fff;
    }
    ion-navbar {
        border: none;
        height: 20px;
    }
    .body
    {
        
        margin: 0;
        padding:0;
        font-family: Tittilium;
        background-attachment: fixed;
        overflow-X:hidden;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background: #000333;
        height: 100%;
    }
    
    .background{
        height: 100%;
        width: 100%;
        position: absolute;   
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
    }
    
    .background img{
        width: auto;
        height: 100%;
        overflow: hidden;
        position: absolute;
        opacity: 0.1;
    }
    
    .headerSign{
        width: 100%;
        height: auto;
        margin-top: 16px;
        position: relative;    
        z-index: 2;
    }
    .headerSign .logo{
        width: 100%;
        padding-top:1px;
        text-align: center;
    }
    
 
    .headerSign .logo input{
        width: 20px;
        height: 20px;
        color: #000333;
        border: 1px solid #000333;
    }
  
    .headerSign .Textlogo span b{
        width: 100%;
        text-align: center;
        font-style: normal;
        color:#0ed3f6;
        margin-top: 6px;
        font-style:normal;
    }
    
    .headerSign .TextSlogan{
        width: 60%;
        color: #fff;
        text-align: center;
        margin: auto;
        margin-top: 2px;
        font-family:cursive;
    
    }
    
    .formConnect{
        margin-top:12px;
        width: 100%;
        position: relative;
        z-index: 2;
    }
    
    .formConnect .input{
        width: 100%;
        margin:auto;
    }
    
    .formConnect .input input{
        position: relative;
        right: 16px;
        text-align: right;
        height: 28px;
        padding: 2px;
        padding-left:5px;
        width: auto;
        background:none;
        opacity: 0.8;
        font-size: 14px;
  
        color:#fff;
        border: none;
    
    }
    
    .croche{
        width:64%;
        margin:auto;
        color:#fff;
        font-size:15px;
        font-family:serif;
       
    }
    
    .regitForget{
    
        width:74%;
        margin:auto;
        margin-top:32px;
        color:#fff;
        font-size:14px;
        font-family:-webkit-pictograph;
    }
    
    .btn,.btnFace{
        width:74%;
        height:auto;
        margin:auto;
        margin-top:32px;
        color:#fff;
        font-size:14px;
        font-family:-webkit-pictograph;
        text-align:center;
    }
    .btn input{
        width:70%;
        height:40px;
        border:1px;
        border-radius:30px;
        text-align:center;
        background:#06bebd;
        color:#fff;
    }
    .btnFace input{
        width:70%;
        height:40px;
        border:1px;
        border-radius:30px;
        text-align:center;
        background:#10cef4;
        color:#fff;
    }
    
    .spaceLeftForm{ 
        margin-top: 8px;
        color:#f3f2f5e6;
        margin-left: 8px;
    }
    .spaceRightForm{ 
        float: right;
        right:40px;
        margin-top: -4px;
        color:#f3f2f5d6;
    }
    .footerPage
    {
        width:98%;
        height:40px;
        border:1px;
        position:absolute;
        bottom:0;
        padding:2%;
        font-size:14px;
        text-align:center;
        background:#000100;
        color:#fff;
        padding-bottom:46px;
    }
    .footerPage .text
    {
        width:70%;
        margin:auto;
    }
    
    .footerPage .text colorLogo
    {     
        display:none;
    }
    
    .colorLogo{
        color:#0ed3f6;
    }
    .palm{
        position:absolute;
        text-align: left;
        height: 28px;
        padding: 2px;
        margin-left:6px;
        border: none;
        opacity: 0.8;
    }
    .palm img{
        margin-top:2px;
        width: 20px;
        height: 20px;
    }
    
    label{
        color:#fff;
        margin-left:-30%;
        position:relative;
        font-family:sans-serif;
        font-size:14px;
    }
    
    .smallText{
        font-size:17px;
    }
    .bigText{
        font-size: 2em;
    }
    .formConnect .message{
    
        width:60%;
        margin:auto;
        color:#fff;
        text-align:center;
        font-family:sans-serif;
      
        font-size:16px;
    }
    .bar{
        background:linear-gradient(to right,#0ed3f6,#7a29a6);
        width: 100%;
        height: 3px;
    
        color: #fff;
     
    }
    .barInput{
        background:linear-gradient(to right,#0ed3f6,#7a29a6);
        width: 100%;
        height: 1px;     
    }
    
    .barContenu{
        width: 100%;
        height: 80px;
  
    }
    
    .barContenu .imgBack{
        width: 28px;
        height: 28px;
        position: relative;
        left: 16px;   
        top:12px;
    }
    .barContenu .textHeader{
        position: relative;
        top: 32px;
        color: #fff;
        font-size: 1.6em;
        margin-left: 80px;
        font-family:Georgia;
        font-style: bold;
    }
    .barContenu .imgBack img{
        width: 28px;
        height: 28px;
    }
    .special{
        height: 90px;
        color: #fff;
        font-size: 15px;
        padding-top: 20px;
    }
    .special .images{
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 20px;
        float: left;
        margin-left:18px;
    }
    
    .special .text{
        width: auto;
        height: 20px;
        float: left;
        
    }
    
    .special .images img{
        width: 20px;
        height: 20px;
        
    }
    .special .contenuAdd {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        margin-top: 16px;
    }

    .special .contenuAdd .btn{
        width: auto;
      
        padding-left: 14px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    
        height: auto;
        border-radius:10px;
        background: none;
        color:#15586e;
        border: 1px solid #cedde6;
        display: inline;
        
    }
    ::placeholder{
        color: #fff;
        opacity: 1;
        font-style: normal;
    }
    input[type=radio] {
        border: 5px solid #0DFF92;
      }
    input[type=radio]:checked ~ .check {
        border: 5px solid #0DFF92;
      }
      
      input[type=radio]:checked ~ .check::before{
        background: #0DFF92;
      }
      
}
